__pycache__/
# Archivos de Python
__pycache__/
*.py[cod]
*.class


# Entorno virtual
**/venv/
**/.venv/


# Configuración local
local_settings.py

# Base de datos
db.sqlite3

# Archivos de log
*.log

# IDEs
.vscode/
.idea/

# Archivos subidos
media/
