{% extends 'base.html' %}

{% block title %}Películas{% endblock %}

{% load static %}

{% block content %}
<h1 class="mb-4">🎬 Lista de Películas</h1>

<div class="movie-grid">
    {% for movie in movies %}
        <div class="movie-card">
            <a href="{% url 'movie_detail' movie.id %}">
                <img src="{% if movie.poster %}{{ movie.poster.url }}{% else %}{% static 'images/default-poster.jpg' %}{% endif %}" alt="{{ movie.title }}" class="movie-poster">
            </a>
            <div class="movie-details">
                <h5>{{ movie.title }}</h5>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
