{% extends 'base.html' %}
{% block content %}
    <h2>Lista de Categorías</h2>
    <a href="{% url 'category_create' %}">Crear Categoría</a>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }} - {{ category.description }}
                <a href="{% url 'category_update' category.pk %}">Editar</a>
                <a href="{% url 'category_delete' category.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
