{% extends 'base.html' %}

{% block title %}My Reading List{% endblock %}

{% block content %}
    <h1>My Reading List</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <h3>{{ book.title }}</h3>
                    <a href="{% url 'book_detail' pk=book.id %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books in your reading list yet. Start adding some!</p>
    {% endif %}
{% endblock %}
